
.slider__item {
  width: 300px;

}
/* Слайдер */
.slick-slider {
  max-width: 1000px;
  min-width: 320px;
  background-color: white;

}
/* Слайдер запущен */
.slick-slider.slick-initialized{

}
/* Слайдер с точками */
.slick-slider.slick-dotted{

}
/* Ограничивающая оболочка */
.slick-list {
  width: 200px;
  height: 200px;
  overflow: hidden;

}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{

}
/* Слайд активный (показывается) */
.slick-slide.slick-active{

}
/* Слайд основной */
.slick-slide.slick-current{

}
/* Слайд по центру */
.slick-slide.slick-center{

}
/* Клонированный слайд */
.slick-slide.slick-cloned{

}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slider .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
/* Активная точка */
.slider .slick-dots li.slick-active button{
  background-color: #464545;
}
/* Элемент точки */
.slider .slick-dots li button{
  border: 0;
  font-size: 0;
  border-radius: 50%;
  width: 10px;
  height: 12px;
  background-color: #BBB;
  opacity: 1;
}
